body {
    min-width: 360px;
    background-color: #fff;
    //background: url("../images/background.jpg") repeat;
    #main {
        #primary {
            #content {
                #breadcrumbs {
                    margin: 0;
                    display: block;
                    .breadcrumb {
                        background-color: $darkGray;
                        color: #fff;
                        padding: 8px 15px;
                        a {
                            &:hover {
                                color: #fff;
                            }
                        }
                    }
                }
                #content_top {
                    .region-content-top {
                        margin: 0;
                        .block-easy-breadcrumb {
                            .content {
                                font-size: 11px;
                                background-color: $darkGray;
                                color: #fff;
                                padding: 8px 15px;
                                a {
                                    &:hover {
                                        color: #fff;
                                    }
                                }
                            }
                        }
                    }
                }
                #content-wrap {
                    h1.page-title {
                        border-top: solid 1px #bf1e2e;
                        display: block;
                        background-image: url('../images/header-block-bg.png');
                        background-repeat: repeat-x;
                        background-color: #941b27;
                        color: #fff;
                        padding: 8px 15px;
                        font-size: 18px;
                        font-weight: 400;
                        margin-top: 0;
                        margin-bottom: 0;
                    }
                    .region-content {
                        padding: 15px;
                        .content {
                            .content {
                                .field-name-body {
                                    a.colorbox {
                                        display: inline-block;
                                        vertical-align: middle;
                                    }
                                }
                            }
                            .content-block-2-50 {
                                width: 48%;
                                float: left;
                                margin-bottom: 10px;
                                padding: 0 1%;
                                @media only screen and (max-width: 680px) {
                                    width: 98%;
                                    float: none;
                                    clear: both;
                                }
                            }
                        }
                        #block-system-main {
                            clear: both;
                        }
                        .webform-client-form {
                            padding: 0 10%;
                            .form-item {
                                width: 50%;
                                float: left;
                                &.webform-component-textarea {
                                    width: 100%;
                                    float: none;
                                    textarea {
                                        padding: 10px;
                                        line-height: 14px;
                                        font-family: "Open Sans", sans-serif;
                                        font-size: 14px;
                                        line-height: 18px;
                                    }
                                }
                                &:nth-child(2n) {
                                    text-align: right;
                                }
                                &:nth-child(2n+1) {
                                    clear: both;
                                    text-align: left;
                                }
                                input {
                                    width: 98%;
                                    padding: 5px 10px;
                                    font-size: 14px;
                                    line-height: 18px;
                                    font-family: "Open Sans", sans-serif;
                                }
                            }
                            @media screen and (max-width: 960px) {
                                padding: 0 5%;
                            }
                            @media screen and (max-width: 480px) {
                                .form-item {
                                    width: 100%;
                                    float: none;
                                    input {
                                        width: 100%;
                                    }
                                }
                            }
                        }
                    }
                    .tabs-wrapper {
                        border: none;
                        margin: 10px 15px 0;
                        ul.tabs {
                            margin: 0 0.5%;
                            li {
                                vertical-align: top;
                                display: inline-block;
                                a {
                                    display: block;
                                    vertical-align: top;
                                    padding: 8px 15px;
                                    border-radius: 3px;
                                    background-color: #bf1e2e;
                                    color: #fff;
                                    &:hover {
                                        color: #999;
                                        background-color: #222;
                                    }
                                }
                            }
                            &.secondary {
                                margin-top: 10px;
                                background: none;
                                li {
                                    padding: 0;
                                    a {
                                        margin-right: 5px;
                                    } 
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
#wrap {
    padding: 0;
    width: 100%;
    background: none;
    #main {
        #content-wrap {
            background-color: #fff;
            &::after {
                clear: both;
                content: ".";
                display: block;
                height: 0;
                line-height: 0;
                visibility: hidden;
            }
        }
    }
}
body.front {
    #wrap {
        #main {
            background-color: #fff;
            #content-wrap {
                background-color: transparent;
            }
        }
    }
}
#main-container {
    margin: 0 auto;
    width: 100%;
    padding: 0 10px;
    max-width: 1200px;
    position: relative;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
body.one-sidebar {
    #main {
        #primary {
            #secondary {
                display: block;
                float: left;
                width: 250px;
                margin-top: 10px;
                margin-left: 10px;
            }
            #content {
                display: block;
                float: right;
                width: 900px;
                margin-right: 10px;
                margin-top: 10px;
            }
            @media screen and (max-width: 1200px) {
                #secondary {
                    width: 24%;
                }
                #content {
                    width: 73%;
                }
            }
            @media screen and (max-width: 960px) {
                #secondary,
                #content {
                    width: 96%;
                    margin-left: 2%;
                    margin-right: 2%;
                }
            }
        }
    }
    &.front {
        #main {
            #primary {
                #content {
                    #content-wrap {
                        .region-content {
                            padding: 0;
                        }
                        h1.page-title {
                            display: none;
                        }
                        .tabs-wrapper {
                            margin: 0 0 10px !important;
                            ul.tabs {
                                margin: 0 !important;
                            }
                        }
                    }
                }
            }
        }
    }
}
table.views-view-grid.cols-2 {
    tr {
        td {
            &.col-1,
            &.col-2 {
                width: 50%;
            }
        }
    }
}
ul.action-links {
    margin: 0;
    margin: 15px 0.5% 0;
    padding: 0 15px;
    list-style: none;
    vertical-align: middle;
    li {
        vertical-align: middle;
        display: inline-block;
        a {
            display: inline-block;
            vertical-align: middle;
            padding: 8px 15px;
            border-radius: 3px;
            background-color: #bf1e2e;
            color: #fff;
            &:hover {
                color: #999;
                background-color: #222;
            }
        }
    }
}
table {
    tr {
        th {
            color: #999;
            a {
                color: #999;
                &:hover {
                    color: #fff;
                }
                img {
                    margin-left: 3px;
                }
            }
            &.active {
                a.active {
                    color: #fff;
                }
            }
        }
        td {
            span.file {
                display: block;
                vertical-align: middle;
                img {
                    margin: 0 15px 0 0 !important;
                    display: inline-block;
                    vertical-align: middle;
                }
                a {
                    vertical-align: middle;
                    display: inline-block;
                }
            }
        }
    }
}
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
    font-size: 14px;
    line-height: 22px;
    text-shadow: none;
    display: inline-block;
    vertical-align: top;
    padding: 8px 15px;
    border-radius: 3px;
    background: none;
    border: none;
    background-color: #bf1e2e;
    color: #fff;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    font-weight: normal;
    &:hover {
        font-size: 14px;
        line-height: 22px;
        text-shadow: none;
        display: inline-block;
        vertical-align: top;
        padding: 8px 15px;
        border-radius: 3px;
        background: none;
        border: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        -o-box-shadow: none;
        box-shadow: none;
        font-weight: normal;
        color: #999;
        background-color: #222;
    }
}
input {
    padding: 5px 10px;
    height: auto !important;
    border-radius: 0;
    font-size: 14px;
    max-width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.form-item label {
    font-size: 14px;
    font-weight: 600;
}
.search-form {
    .container-inline {
        .form-item-keys {
            display: inline-block;
            vertical-align: middle;
            input {
                width: 200px !important;
            }
        }
        .form-submit {
            margin: 0 !important;
            font-size: 14px !important;
            line-height: 22px !important;
            text-shadow: none !important;
            display: inline-block !important;
            vertical-align: middle !important;
            padding: 8px 15px !important;
            border-radius: 3px !important;
            background: none !important;
            border: none !important;
            background-color: #bf1e2e !important;
            color: #fff !important;
            -moz-box-shadow: none !important;
            -webkit-box-shadow: none !important;
            -o-box-shadow: none !important;
            box-shadow: none !important;
            font-weight: normal !important;
            height: auto !important;
            width: auto !important;
            text-indent: 0 !important;
            &:hover {
                color: #999 !important;
                background-color: #222 !important;
            }
        }
    }
}
fieldset {
    max-width: 100%;
    min-width: auto;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -khtml-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    border-radius: 0px !important;
    legend {
        -khtml-border-radius: 0px !important;
        -moz-border-radius: 0px !important;
        -webkit-border-radius: 0px !important;
        border-radius: 0px !important;
        .fieldset-legend {
            color: #676767;
            font-size: 14px;
            font-weight: 600;
            text-shadow: none !important;
            a.fieldset-title {
                color: #676767;
                font-size: 14px;
                font-weight: 600;
                text-shadow: none !important;
            }
        }
    }
    .fieldset-wrapper {
        vertical-align: middle;
        .form-item {
            vertical-align: middle;
        }
        .action {
            input {
                margin: 0 !important;
                font-size: 14px !important;
                line-height: 22px !important;
                text-shadow: none !important;
                display: inline-block !important;
                vertical-align: top !important;
                padding: 8px 15px !important;
                border-radius: 3px !important;
                background: none !important;
                border: none !important;
                background-color: #bf1e2e !important;
                color: #fff !important;
                -moz-box-shadow: none !important;
                -webkit-box-shadow: none !important;
                -o-box-shadow: none !important;
                box-shadow: none !important;
                font-weight: normal !important;
                height: auto !important;
                width: auto !important;
                text-indent: 0 !important;
                &:hover {
                    color: #999 !important;
                    background-color: #222 !important;
                }
            }
        }
        .chosen-container {
            max-width: 100%;
            min-width: auto;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
        }
    }
}
.field-group-table {
    .field-group-format {
        tr {
            th.field-label {
                vertical-align: top;
                line-height: 16px;
                font-size: 14px;
                font-weight: 600;
                white-space: nowrap;
            }
        }
    }
}
.item-list {
    clear: both;
    .pager {
        display: block;
        padding: 0;
        margin: 10px 0.5% 5px;
        li {
            display: inline-block;
            vertical-align: middle;
            padding: 0;
            background: none;
            margin: 0 2px;
            text-shadow: none;
            border-radius: 3px;
            a {
                display: block;
                text-shadow: none;
                padding: 6px 10px;
                background-color: #434343;
                color: #bbb;
                border-radius: 3px;
                &:hover {
                    color: #fff;
                    background-color: #727272;
                }
            }
            &.pager-current {
                background-color: #bf1e2e;
                color: #fff;
                padding: 6px 10px;
            }
        }
    }
}
.form-wrapper {
    .form-item {
        .form-item,
        .password-suggestions {
            max-width: 100%;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
        }
    }
}
body.page-forum {
    #forum {
        table {
            tr {
                vertical-align: middle;
                td {
                    vertical-align: middle;
                    .name {
                        vertical-align: middle;
                        margin-top: 5px;
                    }
                    .username {
                        font-weight: bold;
                    }
                    .topic-status-new {
                        background-position: 0 0 !important;
                    }
                }
            }
        }
    }
}
#search-form input#edit-keys,
#block-search-form .form-item-search-block-form input {
    height: auto !important;
}
.form-actions.form-wrapper {
    vertical-align: middle;
    input {
        vertical-align: middle;
    }
    a#edit-cancel {
        text-align: center;
        font-size: 14px;
        line-height: 22px;
        text-shadow: none;
        display: inline-block;
        vertical-align: middle;
        padding: 8px 15px;
        border-radius: 3px;
        background-color: #bf1e2e;
        color: #fff;
        &:hover {
            color: #999;
            background-color: #222;
        }
    }
}
.table-responsive {
    .view-content {
        @media only screen and (max-width: 680px) {
            display: block;
            width: 100%;
            min-height: .01%;
            overflow-x: auto;
            table {
                min-width: 680px;
                width: 100%;
                max-width: 100%;
                margin-bottom: 1rem;
            }
        }
    }
}
table {
    tr {
        th {
            font-weight: 600;
            padding: 5px 10px;
            color: #ddd;
        }
        td {
            &.active {
                border-top-color: #eee;
            }
        }
    }
}